
<div class="hero is-dark is-fullheight">

  <div class="hero-body">
    
    <div class="container has-text-centered">
      
        <div class="columns is-vcentered">
          <div class="column is-2"><h1 class="title is-1 has-text-grey-lighter">Survy</h1></div>
          <div class="column is-4"></div>
          <div class="is-hidden-mobile"><p class="subtitle is-5">Entre com:</p></div>
          <div class="column is-2"><button class="button is-medium is-rounded" (click)="efetuarLoginGoogle()"><i class="fab fa-google"></i><p class="is-hidden-mobile">&nbsp;Google</p></button></div>
          <div class="column is-2"><button class="button is-medium is-rounded" (click)="efetuarLoginFacebook()"><i class="fab fa-facebook-f"></i><p class="is-hidden-mobile">&nbsp;Facebook</p></button></div>
        </div>
      
    </div>

  </div>

</div>
